.block-visibility-controls .block-visibility-extra-controls {
    display: block;
}

/*
    Make the Show/Hidden rdio buttons sit next to each other
*/

.block-visibility-controls .block-visibility-displayed-control .components-base-control__label{
    max-width: none;
}

.block-visibility-controls .block-visibility-displayed-control .components-radio-control__option {
    width: 50%;
    margin: 0.5em 0 0;
    display: inline-block;
}

/*

*/
.block-visibility-controls .block-visibility-user-authenticated-control {
    display: block;
    clear: both;
    width: 100%;
}


.block-visibility-controls.is-opened .block-visibility-user-authenticated-controls {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #e2e4e7;
    margin-bottom: 20px;
    background: #fcfcfc;
}

.block-visibility-controls.is-opened .block-visibility-user-authenticated-controls.is-opened .components-panel__body-toggle {
    border-bottom: 1px solid #e2e4e7;
    margin-bottom: 7px;
}